ca-ws/src/main/resources/ca.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
-->
<definitions
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://ws.ca.upa.pt/"
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
   xmlns:wsp="http://www.w3.org/ns/ws-policy"
   xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://ws.ca.upa.pt/"
   name="CaService">
   <types>
      <!--
      Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
      -->
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ca.upa.pt/">
         <xs:element name="BadNameFault_Exception" type="tns:BadNameFault_Exception" />
         <xs:element name="getCertificate" type="tns:getCertificate" />
         <xs:element name="getCertificateResponse" type="tns:getCertificateResponse" />
         <xs:complexType name="getCertificate">
            <xs:sequence>
               <xs:element name="arg0" type="xs:string" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="getCertificateResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="BadNameFault_Exception">
            <xs:sequence>
               <xs:element name="faultInfo" type="tns:badNameFault" minOccurs="0" />
               <xs:element name="message" type="xs:string" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="badNameFault">
            <xs:sequence>
               <xs:element name="name" type="xs:string" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </types>
   <message name="getCertificate">
      <part name="parameters" element="tns:getCertificate" />
   </message>
   <message name="getCertificateResponse">
      <part name="parameters" element="tns:getCertificateResponse" />
   </message>
   <message name="BadNameFault_Exception">
      <part name="fault" element="tns:BadNameFault_Exception" />
   </message>
   <portType name="CaPortType">
      <operation name="getCertificate">
         <input wsam:Action="http://ws.ca.upa.pt/CaPortType/getCertificateRequest" message="tns:getCertificate" />
         <output wsam:Action="http://ws.ca.upa.pt/CaPortType/getCertificateResponse" message="tns:getCertificateResponse" />
         <fault message="tns:BadNameFault_Exception" name="BadNameFault_Exception" wsam:Action="http://ws.ca.upa.pt/CaPortType/getCertificate/Fault/BadNameFault_Exception" />
      </operation>
   </portType>
   <binding name="CaPortBinding" type="tns:CaPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <operation name="getCertificate">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="BadNameFault_Exception">
            <soap:fault name="BadNameFault_Exception" use="literal" />
         </fault>
      </operation>
   </binding>
   <service name="CaService">
      <port name="CaPort" binding="tns:CaPortBinding">
         <soap:address location="http://localhost:8060/ca-ws/endpoint" />
      </port>
   </service>
</definitions>